[Unit]
Description=DCM API Gateway (Traefik)
After=dcm-service-provider-manager.service dcm-catalog-manager.service dcm-policy-manager.service dcm-placement-manager.service
Requires=dcm-service-provider-manager.service dcm-catalog-manager.service dcm-policy-manager.service dcm-placement-manager.service

[Container]
Image={{ dcm_traefik_image }}:{{ dcm_traefik_image_tag }}
ContainerName=gateway
Network=dcm-network.network
Exec=--configFile=/etc/traefik/traefik.yml
PublishPort={{ dcm_gateway_port }}:9080
Volume={{ dcm_config_dir }}/traefik/traefik.yml:/etc/traefik/traefik.yml:ro,z
Volume={{ dcm_config_dir }}/traefik/dynamic:/etc/traefik/dynamic:ro,z

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
