[Unit]
Description=DCM Service Provider Manager
After=dcm-postgres.service dcm-nats.service
Requires=dcm-postgres.service dcm-nats.service

[Container]
Image={{ dcm_image_registry }}/service-provider-manager:{{ dcm_service_provider_manager_version }}
ContainerName=service-provider-manager
Network=dcm-network.network
Pull=always
EnvironmentFile={{ dcm_quadlet_dir }}/dcm.env
Environment=DB_NAME=service-provider
Environment=SVC_ADDRESS=:8080
Environment=NATS_URL=nats://nats:4222
HealthCmd=bash -c 'echo > /dev/tcp/localhost/8080'
HealthInterval=2s
HealthRetries=15
HealthTimeout=3s
HealthStartPeriod=10s

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy={{ _dcm_wanted_by }}
