[Unit]
Description=DCM K8s Container Service Provider
After=dcm-service-provider-manager.service dcm-nats.service
Requires=dcm-service-provider-manager.service dcm-nats.service

[Container]
Image={{ dcm_image_registry }}/k8s-container-service-provider:{{ dcm_k8s_container_service_provider_version }}
ContainerName=k8s-container-service-provider
Network=dcm-network.network
Pull=always
Environment=SP_NAME={{ dcm_k8s_container_sp_name }}
Environment=SP_ENDPOINT=http://k8s-container-service-provider:8080
Environment=DCM_REGISTRATION_URL=http://service-provider-manager:8080/api/v1alpha1
Environment=SP_NATS_URL=nats://nats:4222
Environment=SP_K8S_NAMESPACE={{ dcm_k8s_container_sp_namespace }}
Environment=SP_K8S_KUBECONFIG=/kubeconfig
Environment=SP_K8S_EXTERNAL_SVC_TYPE={{ dcm_k8s_container_sp_external_svc_type }}
Volume={{ dcm_k8s_container_sp_kubeconfig }}:/kubeconfig:ro,z

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
