[Unit]
Description=DCM KubeVirt Service Provider
After=dcm-service-provider-manager.service
Requires=dcm-service-provider-manager.service

[Container]
Image={{ dcm_image_registry }}/kubevirt-service-provider:{{ dcm_kubevirt_service_provider_version }}
ContainerName=kubevirt-service-provider
Network=dcm-network.network
Pull=always
Environment=NATS_URL=nats://nats:4222
Environment=SERVICE_MANAGER_ENDPOINT=http://service-provider-manager:8080/api/v1alpha1
Environment=PROVIDER_NAME={{ dcm_kubevirt_provider_name }}
Environment=PROVIDER_ENDPOINT=http://{{ dcm_kubevirt_provider_name }}:8081/api/v1alpha1/vms
Environment=KUBERNETES_NAMESPACE={{ dcm_kubevirt_namespace }}
Environment=KUBERNETES_KUBECONFIG=/kubeconfig
Volume={{ dcm_kubevirt_kubeconfig }}:/kubeconfig:ro,z

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy={{ _dcm_wanted_by }}
