[Unit]
Description=DCM Web UI
After=dcm-control-plane.service
Requires=dcm-control-plane.service

[Container]
Image={{ dcm_image_registry }}/dcm-ui:{{ dcm_ui_version }}
ContainerName=dcm-ui
Network=dcm-network.network
Pull=always
Environment=APP_BASE_URL=http://{{ ansible_host }}:{{ dcm_ui_port }}
Environment=DCM_API_URL=http://control-plane:8080
PublishPort={{ dcm_ui_port }}:7007

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy={{ _dcm_wanted_by }}
