POSTGRES_DB=postgres
POSTGRES_USER={{ dcm_db_user }}
POSTGRES_PASSWORD={{ dcm_db_password }}
DB_TYPE=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_USER={{ dcm_db_user }}
DB_PASS={{ dcm_db_password }}
DB_PASSWORD={{ dcm_db_password }}
